<!DOCTYPE html>
<html lang="en" dir="ltr" class="no-js">
<head>
<meta http-equiv="x-ua-compatible" content="ie=edge">
<meta http-equiv="cleartype" content="on">

<meta charset="utf-8">
</head>
<body>
  <div class="page-title__content">
    <h1 class="block-title block-title--left">
      North Pacific Foundation
    </h1>
  </div>
  </header>
  <section class="info-block info-block--white">
    <div class="info-block__inner">
      <h3>
        Nom de l'organisation et addresse postale
      </h3>
      <div class="info-block__body">
        <p><b>Nom de la fondation:</b>&nbsp;The Ocean Cleanup North Pacific Foundation
</p>
<p>The Foundation is a public charity, exempt from income tax under Internal Revenue Code (IRC) Section 501(c)(3).&nbsp;
</p>
<p><br /><b>Postal Address</b><br />The Ocean Cleanup North Pacific Foundation<br />535 Mission Street Unit 1922<br />San Francisco<br />94105 California<br />United States of America
</p>
<p><b>E-mail</b><br />Visit the&nbsp;<a href="contact/" target="_top" class="internal-link">Contact page</a>&nbsp;to get in touch via e-mail</p>
      </div>
    </div>
  </section>
  <!--section class="board-member-block">
    <div class="board-member-block__inner">

    </div>
  </section-->
  <section class="center-block center-block--small center-block--secondary center-block--@@margin" id="@@id">
    <div class="center-block__inner">
      <h2 class="block-title">
        The Foundation supports initiatives to rid the oceans of plastic, starting with the Pacific Ocean
      </h2>
    </div>
  </section>
  <section class="center-block center-block--wide center-block--white center-block--glue" id="@@id">
    <div class="center-block__inner">
      <h2 class="block-title">
        The scope
      </h2>
    </div>
  </section>
  <!--

    Image sizes used: 660xHEIGHT

-->
  <section class="info-image-block info-image-block--@@type ">
    <div class="info-image-block__inner">
      <div class="info-image-block__content">
        <h6>Ridding the oceans of plastic</h6>
<p>The purpose of The Ocean Cleanup North Pacific Foundation is to preserve and protect the natural ocean environment for the benefit of the public.&nbsp;This includes promoting and supporting the efficient and environmentally-friendly extraction of waste from oceans, seas and&nbsp;other waste areas. It also includes promoting, supporting and performing the environmentally-friendly recycling of such waste.&nbsp;
</p>
<h6>Main activities</h6>
<p>The main activity to be carried out by the Foundation is the assembly of ocean systems for deployment in the Great Pacific Garbage Patch, by one of The Ocean Cleanup's affiliates. The assembly of the first cleanup system is taking place in Alameda, California.&nbsp;
</p>
<p>The extracted plastic from the Great Pacific Garbage Patch will be recycled and sold, to finance (part of) the cleanup expansion to the other four ocean gyres, as well as the continued operation of cleanup systems in the North Pacific. The North Pacific Foundation may assist in the marketing and sales of the plastic.&nbsp;
</p>
<p>The Foundation will also be responsible for raising funds in the US; firstly for rolling out The Ocean Cleanup initiative in the North Pacific, but also to support other The Ocean Cleanup initiatives around the world. The Foundation will also set-up and manage events in the US, such as media events related to the cleanup system progress.&nbsp;</p>
      </div>
      <figure>
            <img src="/fileadmin/media-archive/img/Pages/Foundation_Details_NPF/assembly-rollerbox-alameda.jpg"/>

        </figure>


        <figure>
            <img src="/fileadmin/media-archive/img/Pages/Foundation_Details_NPF/180418_Yard_Media_Day_3.jpg"/>

        </figure>
    </div>
  </section>

  <section class="text-block text-block--wide text-block--grey-light text-block--regular" id="@@id">
    <div class="text-block__inner">
      <h6>Governance</h6>
<p>The Ocean Cleanup North Pacific Foundation is an independent foundation established under the laws of Delaware and registered in the State of California. The foundation is managed by its board of directors, who report to the sole member of the foundation, the Dutch foundation&nbsp;<a href="foundation-details/" target="_top" class="internal-link">Stichting The Ocean Cleanup</a>, which aims to rid the world's oceans of plastic. The board may delegate the management of the activities of the Foundation to any other person, provided the activities and affairs of the Foundation are managed under the ultimate direction of the board.
</p>
<p>The members of the board are not entitled to any remuneration. They are, however, entitled to ask for reimbursement of reasonable costs (such as travel expenses).
</p>
<p>&nbsp;</p>
<h6>Stichting The Ocean Cleanup</h6>
<p>For more information on the Dutch foundation Stichting The Ocean Oceanup and its affiliated companies, including its annual reports and foundation details <a href="foundation-details/" target="_top" class="internal-link">click here</a>. For general information on The Ocean Cleanup we refer to the other website pages related to our mission, technology etcetera.</p>
    </div>
  </section>
  <section class="center-block center-block--wide center-block--white center-block--glue" id="@@id">
    <div class="center-block__inner">
      <h2 class="block-title">
        BOARD OF DIRECTORS
      </h2>
    </div>
  </section>
  <section class="document-download-block">
    <div class="document-download-block__inner">
      <section class="board-member-block">
    <div class="board-member-block__inner">

        <dl data-handler="boardMemberList">

            <dt>
                <a class="js-board-member-item" href="the-ocean-cleanup-north-pacific-foundation/#">
                    Boyan Slat
                    <svg role="img" data-icon="arrow-down"><use xlink:href="fileadmin/themes/oceancleanup_2016/css/img/icons.svg#arrow-down"></use></svg>

                </a>
                <span>CEO &amp; Chairman</span>
            </dt>
            <dd aria-hidden="true"><p>Inventor since birth. Founded The Ocean Cleanup at age 18. Youngest ever recipient of the UN’s highest environmental accolade; Champion of the Earth in 2015. Awarded the maritime industry’s Young Entrepreneur Award in 2015 by HM King Harald of Norway. Chosen as European of the Year by Readers Digest in 2017. Member of the Thiel Fellowship.</p></dd>

            <dt>
                <a class="js-board-member-item" href="the-ocean-cleanup-north-pacific-foundation/#">
                    Lonneke Holierhoek
                    <svg role="img" data-icon="arrow-down"><use xlink:href="fileadmin/themes/oceancleanup_2016/css/img/icons.svg#arrow-down"></use></svg>

                </a>
                <span>Board member</span>
            </dt>
            <dd aria-hidden="true"><p>Over 20 years of experience in the maritime and offshore construction industry, from companies such as the Dutch dredging and offshore contractor Van Oord and its predecessors Ballast Ham Dredging and HAM/Hollandsche Beton Groep as well as Elixir Engineers. Master of Science in Technical Mathematics from Delft University of Technology (TU Delft) as of 1993 and became G.M.I.C.E.S in Quantity Surveying from Chartered Institution of Civil Engineering Surveyors.</p></dd>


            <dt>
                <a class="js-board-member-item" href="the-ocean-cleanup-north-pacific-foundation/#">
                    Jos Huijbregts
                    <svg role="img" data-icon="arrow-down"><use xlink:href="fileadmin/themes/oceancleanup_2016/css/img/icons.svg#arrow-down"></use></svg>

                </a>
                <span>Treasurer and board member</span>
            </dt>
            <dd aria-hidden="true"><p>Over 25 years of corporate finance and business management experience from companies such as Royal DSM, Randstad and KEMA. Master of Science in Econometry from Amsterdam University as of 1990, executive degree in Financial Controlling received from Amsterdam University in 1994 and completed the Advanced Management Program at Harvard Business School in 2009.</p></dd>

           <dt>
                <a class="js-board-member-item" href="the-ocean-cleanup-north-pacific-foundation/#">
                    Carl van der Zandt
                    <svg role="img" data-icon="arrow-down"><use xlink:href="fileadmin/themes/oceancleanup_2016/css/img/icons.svg#arrow-down"></use></svg>

                </a>
                <span>Secretary and board member</span>
            </dt>
            <dd aria-hidden="true"><p>US attorney focused on EU-US business expansion and investments. Master at Law. Partner of Hand Baldachin &amp; Amburgey.</p></dd>

            <dt>
                <a class="js-board-member-item" href="the-ocean-cleanup-north-pacific-foundation/#">
                    Mark Hawkins
                    <svg role="img" data-icon="arrow-down"><use xlink:href="fileadmin/themes/oceancleanup_2016/css/img/icons.svg#arrow-down"></use></svg>

                </a>
                <span>Board member</span>
            </dt>
            <dd aria-hidden="true"><p>President &amp; CFO of Salesforce.com. Over three decades of high tech experience. Board member and Audit Committee chair of SecureWorks and Plex Systems.</p></dd>

            <dt>
                <a class="js-board-member-item" href="the-ocean-cleanup-north-pacific-foundation/#">
                    Rob Parker
                    <svg role="img" data-icon="arrow-down"><use xlink:href="fileadmin/themes/oceancleanup_2016/css/img/icons.svg#arrow-down"></use></svg>

                </a>
                <span>Board member</span>
            </dt>
            <dd aria-hidden="true"><p>Retired Vice President of the US Coast Guard. Master of Arts degree in National Security and Strategic Studies. Expert on national and cyber security, crisis response operations  and maritime operations.</p></dd>



        </dl>
    </div>
</section>
    </div>
  </section>
  <section class="info-block info-block--primary">
    <div class="info-block__inner">
      <h3>
        FUNDING DETAILS
      </h3>
      <div class="info-block__body">
        <p>If you are not based in the US, please use the donation form on our <a href="support/" target="_top" class="internal-link">fund page</a> to donate.
</p>
<p>If you are based in the US, our US 501(c)(3) donation partner, The Netherlands American Foundation can process recurring and one time donations to The Ocean Cleanup North Pacific Foundation. For more details about their donation methods, please see their <a href="http://thenaf.org/the-ocean-cleanup/" target="_blank" class="external-link-new-window">dedicated page</a>.&nbsp;
</p>
<p>For donations of amounts that exceeds 50.000 USD, we would prefer to receive your donation directly. Please contact us through our <a href="contact/" target="_top" class="internal-link">contact form</a>.&nbsp;</p>
      </div>
    </div>
  </section>
</main>
<!-- .wrapper -->
<!--TYPO3SEARCH_end-->
<!-- partials/footer: -->

<footer role="contentinfo">
  <aside class="follow-bar">
    <div class="follow-bar__inner">
      <div class="follow-bar__social">
        <div id="c65" class="csc-default"><h3>Follow us</h3>
        <ul>
          <li><a class="instagram_follow_link" href="https://www.instagram.com/theoceancleanup/" target="_blank">
            <svg role="img" data-icon="instagram">
              <use xlink:href="fileadmin/themes/oceancleanup_2016/css/img/icons.svg#instagram"></use>
            </svg>
            <span>Follow us on Instagram</span> </a></li>
          <li><a class="facebook_follow_link" href="https://www.facebook.com/TheOceanCleanup/" target="_blank">
            <svg role="img" data-icon="facebook">
              <use xlink:href="fileadmin/themes/oceancleanup_2016/css/img/icons.svg#facebook"></use>
            </svg>
            <span>Follow us on Facebook</span> </a></li>
          <li><a class="twitter_follow_link" href="https://twitter.com/theoceancleanup" target="_blank">
            <svg role="img" data-icon="twitter">
              <use xlink:href="fileadmin/themes/oceancleanup_2016/css/img/icons.svg#twitter"></use>
            </svg>
            <span>Follow us on Twitter</span> </a></li>
          <li><a class="youtube_follow_link" href="https://www.youtube.com/TheOceanCleanup " target="_blank">
          <svg role="img" data-icon="youtube">
            <use xlink:href="fileadmin/themes/oceancleanup_2016/css/img/icons.svg#youtube"></use></svg>

          <span>Follow us on YouTube</span>
        </a></li>
        <li><a class="linked_follow_link" href="https://www.linkedin.com/company/the-ocean-cleanup" target="_blank">
          <svg role="img" data-icon="linkedin">
            <use xlink:href="fileadmin/themes/oceancleanup_2016/css/img/icons.svg#linkedin"></use></svg>

          <span>Connect with us on LinkedIn</span>
        </a></li>
        </ul></div>
      </div>
      <div class="follow-bar__newsletter">
        <h6>Newsletter</h6>
<form data-enhancer="newsletterForm" action="fileadmin/themes/oceancleanup_2016/t3ext/mailchimp_process.php" method="post" validate>
  <input type="email" name="email" placeholder="E-mail address" autocomplete="email" required aria-label="Your e-mail address"/>
  <button type="submit" aria-label="Subscribe to our newsletter">
    <svg role="img" data-icon="mail" title="Subscribe">
      <use xlink:href="fileadmin/themes/oceancleanup_2016/css/img/icons.svg#mail"></use>
    </svg>
    <span>Subscribe</span> </button>
  <div class="follow-bar__newsletter-status js-newsletter-status" aria-hidden="true"></div>
</form>


      </div>
    </div>
  </aside>
  <nav class="footer-nav" role="navigation">
    <div class="footer-nav__inner">
      <div class="footer-nav__part">
        <h6>The Ocean Cleanup</h6><ul><li><a href="technology/" target="_top" class="internal-link">Technology</a></li> <li><a href="system001/" target="_top" class="internal-link">System 001</a></li> <li><a href="milestones/" target="_top">Milestones</a></li> <li><a href="updates/" target="_top" class="internal-link">Updates</a></li> <li><a href="scientific-publications/" target="_top">Scientific publications</a></li> <li><a href="great-pacific-garbage-patch/" target="_top" class="internal-link">Great Pacific Garbage Patch</a></li> <li><a href="sources/" target="_top">Plastic Sources</a></li></ul>
      </div>
      <div class="footer-nav__part">
        <h6>About us</h6><ul><li><a href="careers/" target="_top" class="internal-link">Careers</a></li> <li><a href="about/" target="_top" class="internal-link">About</a></li> <li><a href="press/" target="_top" class="internal-link">Press</a></li> <li><a href="https://www.theoceancleanup.com/media-gallery/" target="_blank">Media gallery</a></li> <li><a href="partners/" target="_top" class="internal-link">Partners</a></li></ul>
      </div>
      <div class="footer-nav__part">
        <h6>Help</h6><ul><li><a href="support/" target="_top" class="internal-link">Support</a></li> <li><a href="shop/" target="_top" class="internal-link">Shop</a></li> <li><a href="faq/" target="_top" class="internal-link">FAQ</a></li> <li><a href="contact/" target="_top" class="internal-link">Contact</a></li></ul>
      </div>
      <div class="footer-nav__part">
        <h6>Legal</h6><ul><li><a href="privacy-and-cookie-notice/" target="_top" class="internal-link">Privacy &amp; cookie notice</a></li> <li><a href="support/donation-terms-and-conditions/" target="_top" class="internal-link">Donations terms &amp; conditions</a></li> <li><a href="disclaimer/" target="_top" class="internal-link">Disclaimer</a></li> <li><a href="foundation-details/" target="_top" class="internal-link">Foundation details</a></li> <li><a href="the-ocean-cleanup-north-pacific-foundation/" target="_top" class="internal-link">The Ocean Cleanup North Pacific Foundation</a></li></ul>
      </div>
    </div>
    <div class="footer-nav__copyright">&copy; 2018 The Ocean Cleanup. All rights reserved.
<br>This site is hosted by Greenhost.</div>
  </nav>
</footer>
<script>
	/**
	 * Prevent loading of iframes, lazyload them later
	 */
	var iframes = document.getElementsByTagName('iframe');
	for (var i = 0; i < iframes.length; i++) {
		var src = iframes[i].src;
		iframes[i].src = '';
		iframes[i].setAttribute('data-src', src);
	}
</script>

<script src="typo3temp/javascript_bd4d1f63e4.js?1481036357" type="text/javascript"></script>


</body>
</html>
