<div class="page-titles-img title-space-lg parallax-overlay bg-parallax" data-jarallax='{"speed": 0.4}' style='background-image: url("images/bg13.jpg");background-position:top center;'>
  <div class="container">
      <div class="row">
          <div class=" col-md-12">
              <h1 class="text-uppercase">Fondation  </h1>
          </div>
      </div>
  </div>
</div><!--page title end-->

<div class = "carousel">
  <div class="container mb80">
            <div class="fancy-title mb30">
                <div class="fancy-title-sep gray-sep"></div>
            </div><!--title-->
            <!-- Carousel -->
            <div class="carousel-image owl-carousel owl-theme">
                <div class="item">
                    <img src="http://www.initiativesfleuves.org/wp-content/uploads/2018/04/foretamazonienne-1.jpg" alt="" class="img-fluid">
                </div>
                <div class="item">
                    <img src="https://i0.wp.com/mrmondialisation.org/wp-content/uploads/2017/10/WWFLUNGS.jpg" alt="" class="img-fluid">
                </div>
                <div class="item">
                    <img src="http://www.brasilpassion.com/wp-content/uploads/2013/11/foret7.jpg" alt="" class="img-fluid">
                </div>
            <div class="item">
                    <img src="http://www.brasilpassion.com/wp-content/uploads/2013/11/foret7.jpg" alt="" class="img-fluid">
                </div>
            </div> <!-- /Carousel -->
        </div>
      </div>
      <div class="container pt90  pb60">
                  <div class="row align-items-center">
                      <div class="col-lg-6 mb30">
                          <img src="https://medias.liberation.fr/photo/1102777-000_sy34r.jpg?modified_at=1520438871&width=960" alt="" class="img-fluid">
                      </div>
                      <div class="col-lg-6 mb30">
                          <h2>
                              Une bonne compréhension des écosytèmes pour une planète qui sourit
                          </h2>
                          <p>
                              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                          </p>
                          <p>
                              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                          </p>
                          <p>
                              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                          </p>
                      </div>
                  </div>
              </div>
</br></br></br></br></br>
