<!-- <div id="preloader">
        <div id="preloader-inner"></div>
</div>-->

    <div class="site-overlay"></div>

    <div class="bg-parallax fullscreen parallax-overlay" data-jarallax='{"speed": 0.2}' style='background-image: url(<%= asset_path 'forest.jpg' %>)'>
        <div class="d-flex align-items-center">
            <div class="container">
                <div class=" row">
                    <div class="col-lg-10 ml-auto mr-auto text-center">
                        <div class="hero-text-style1">
                            <div class="tlt h1 font700 text-white text-capitalize mb20">
                                <ul class="texts">                                       
                                    <li class="text-capitalize" data-out-effect="fadeOut" data-in-effect="fadeIn">Exemple 1 de texte défilant</li>
                                    <li class="text-capitalize" data-out-effect="fadeOut" data-in-effect="fadeIn">Exemple 2 de texte défilant</li>
                                    <li class="text-capitalize" data-out-effect="fadeOut" data-in-effect="fadeIn">Exemple 3 de texte défilant</li>
                                </ul>
                            </div><!--/.tlt-->
                            <p class="lead text-white-gray">
                                Une phrase qui résume l'objectif du site
                            </p>
                            <form method="post" action="/search">
                                <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
                                <div class="row">
                                    <div class="col-md-12 mb20">
                                        <input type="text" class="form-control" placeholder="Ex: tomates sol argileux" required="" name="plante_search">
                                    </div>
                                    
                                    <div class="col-md-12">
                                        <!-- IL FAUT CHANGER LE BUTTON EN BALISE <a> :D -->
                                        <button type="submit" class="btn btn-primary mb-2">Rechercher</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div><!--hero-->
    <div class="cta bg-faded pt50 pb50">
        <div class="container">
            <div class="row">
                <div class="col-lg-9">
                    <h2 class="h3">We provide the great support to our customers</h2>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi rem, facilis nobis voluptatum est voluptatem accusamus molestiae eaque perspiciatis mollitia.
                    </p>
                </div>
                <div class="col-lg-3">
                    <a href="#" class="btn btn-rounded btn-lg btn-outline-primary mt30">
                        Buy Now
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="container pt60 pb30">
        <div class="row">
            <div class="col-lg-4 mb30">
                <img src="images/img12.jpg" alt="" class="img-fluid mb20">
                <h4 class="text-uppercase">why choose us</h4>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi rem, facilis nobis voluptatum est voluptatem accusamus molestiae eaque perspiciatis mollitia.
                </p>
            </div>
            <div class="col-lg-4 mb30">
                <img src="images/img13.jpg" alt="" class="img-fluid mb20">
                <h4 class="text-uppercase">Our Mission</h4>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi rem, facilis nobis voluptatum est voluptatem accusamus molestiae eaque perspiciatis mollitia.
                </p>
            </div>
            <div class="col-lg-4 mb30">
                <img src="images/img14.jpg" alt="" class="img-fluid mb20">
                <h4 class="text-uppercase">Our strategy</h4>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi rem, facilis nobis voluptatum est voluptatem accusamus molestiae eaque perspiciatis mollitia.
                </p>
            </div>
        </div>
    </div>

    <div class="half-image-content bg-faded">
        <div class="content-img bg-parallax pos-right hidden-md-down" data-jarallax='{"speed": 0.2}' style="background:url(images/img-half2.jpg) no-repeat;">
        </div>
        <img src="images/img-half2.jpg" class="visible-lg-down hidden-lg-up img-fluid" alt="">
        <div class="container">
            <div class='row'>
            <div class="col-lg-5  pt70 pb70">
                <h2 class="mb40">
                    Limitless possibilities create incredible layouts
                </h2>
                <div class="clearfix">
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                    </p>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                    </p><br>
                    <a href="#" class="btn btn-outline-primary">View Features</a>
                </div>
            </div>
            </div>
        </div>
    </div><!--half image section-->
 
    <!-- <div class="bg-parallax parallax-overlay pt100 pb100" data-jarallax-video="https://www.youtube.com/watch?v=I6jmZ5plZ3o&" data-jarallax-original-styles="null">
        <div class="container text-center">
            <div class="row">
                <div class="col-lg-8 ml-auto mr-auto">
                    <h3 class=" text-white h1">Beautiful video parallax</h3>
                    <p class="text-white-gray lead">
                        A fully featured and amazing template that Looks beautiful on all size of devices.
                    </p>
                    <a href="#" class="btn btn-white-outline btn-lg">Learn More</a>
                </div>
            </div>
        </div>
    </div> -->
