<div class="page-titles-img title-space-lg bg-parallax parallax-overlay" data-jarallax='{"speed": 0.2}' style='background-image: url("images/bg8.jpg")'>
    <div class="container">
        <div class="row">
            <div class=" col-md-8 ml-auto mr-auto">
                <h1 class='text-uppercase'>Rencontrez notre équipe </h1>

             </div>
        </div>
    </div>
</div><!--page title end-->

<div class='container-fluid pt40 mb40'>
    <div class='row no-margin'>
        <div class='col-lg-8  mr-auto ml-auto'>
            <p class='lead mb50 text-center'>
                    Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
            </p>
        </div>
    </div>

<!--     <div class="title-heading1 mb60">
                <h3>Team - Circle</h3>
            </div> -->
	<div class="row pb60">
	    <div class="col-lg-3 col-md-6  mb30">
	        <div class="team-card-default">
	            <img src=<%= asset_path 'team1.jpg' %> alt="" class="img-fluid rounded-circle">
	            <div class="team-default-content text-center pt30">
	                    <h4 class="mb0 text-uppercase">Carlos Santana</h4>
	                    <span>Marketing manager</span>                                
	                    <!-- <ul class="list-inline pt10">
	                        <li class="list-inline-item">
	                            <a href="#"><i class="fa fa-facebook"></i></a>
	                        </li>
	                        <li class="list-inline-item">
	                            <a href="#"><i class="fa fa-twitter"></i></a>
	                        </li>
	                        <li class="list-inline-item">
	                            <a href="#"> <i class="fa fa-youtube"></i></a>
	                        </li>
	                        <li class="list-inline-item">
	                            <a href="#"><i class="fa fa-instagram"></i></a>
	                        </li>
	                    </ul> -->
	            </div>
	        </div>
	    </div><!--/col-->
	    <div class="col-lg-3 col-md-6  mb30">
	        <div class="team-card-default">
	            <img src=<%= asset_path 'team2.jpg' %> alt="" class="img-fluid rounded-circle">
	            <div class="team-default-content text-center pt30">
	                    <h4 class="mb0 text-uppercase">Jennifer Lopez</h4>
	                    <span>Marketing manager</span>                                
	                    <!-- <ul class="list-inline pt10">
	                        <li class="list-inline-item">
	                            <a href="#"><i class="fa fa-facebook"></i></a>
	                        </li>
	                        <li class="list-inline-item">
	                            <a href="#"><i class="fa fa-twitter"></i></a>
	                        </li>
	                        <li class="list-inline-item">
	                            <a href="#"> <i class="fa fa-youtube"></i></a>
	                        </li>
	                        <li class="list-inline-item">
	                            <a href="#"><i class="fa fa-instagram"></i></a>
	                        </li>
	                    </ul> -->
	            </div>
	        </div>
	    </div><!--/col-->
	     <div class="col-lg-3 col-md-6  mb30">
	        <div class="team-card-default">
	            <img src=<%= asset_path 'team3.jpg' %> alt="" class="img-fluid rounded-circle">
	            <div class="team-default-content text-center pt30">
	                    <h4 class="mb0 text-uppercase">Francis Cabrel</h4>
	                    <span>Marketing manager</span>                                
	                    <!-- <ul class="list-inline pt10">
	                        <li class="list-inline-item">
	                            <a href="#"><i class="fa fa-facebook"></i></a>
	                        </li>
	                        <li class="list-inline-item">
	                            <a href="#"><i class="fa fa-twitter"></i></a>
	                        </li>
	                        <li class="list-inline-item">
	                            <a href="#"> <i class="fa fa-youtube"></i></a>
	                        </li>
	                        <li class="list-inline-item">
	                            <a href="#"><i class="fa fa-instagram"></i></a>
	                        </li>
	                    </ul> -->
	            </div>
	        </div>
	    </div><!--/col-->
	     <div class="col-lg-3 col-md-6  mb30">
	        <div class="team-card-default">
	            <img src=<%= asset_path 'team4.jpg' %> alt="" class="img-fluid rounded-circle">
	            <div class="team-default-content text-center pt30">
	                    <h4 class="mb0 text-uppercase">Alpha Blondy</h4>
	                    <span>Marketing manager</span>                                
	                    <!-- <ul class="list-inline pt10">
	                        <li class="list-inline-item">
	                            <a href="#"><i class="fa fa-facebook"></i></a>
	                        </li>
	                        <li class="list-inline-item">
	                            <a href="#"><i class="fa fa-twitter"></i></a>
	                        </li>
	                        <li class="list-inline-item">
	                            <a href="#"> <i class="fa fa-youtube"></i></a>
	                        </li>
	                        <li class="list-inline-item">
	                            <a href="#"><i class="fa fa-instagram"></i></a>
	                        </li>
	                    </ul> -->
	            </div>
	        </div>
	    </div><!--/col-->
	
	</div>
</div>

<div class="container">
	<div class="title-heading1 mb60">
	    <h3>Rejoignez-nous</h3>
	</div>
    <div class="row pb30 align-items-end">
        <div class="col-lg-6 col-md-6 mb90">
        	<blockquote class="blockquote text-center">
        		<p class="mb-0">"Dans la nature, tout a toujours une raison. Si tu comprends cette raison, tu n'as plus besoin de l'expérience."</p>
        		<footer class="blockquote-footer">Léonard de Vinci</footer>
        	</blockquote>
        </div>
        <div class="col-lg-5 col-md-6 mb20">
            <form>
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Nom">
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Prénom">
                </div>
                <div class="form-group">
                    <input type="email" class="form-control" placeholder="Email">
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Description">
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-rounded btn-primary btn-block">Envoyer</button>
                </div>
            </form>
        </div>
        
    </div>
</div>

<!-- 
<div class="form-group" style="margin-left: 43%; margin-top: 2%">
	<button type="submit" class="btn btn-rounded btn-primary">Nous rejoindre</button>
</div> -->
<!-- 
<form action= "/equipe" method= "post"></br>
  <input type= "text" name= "name"></input></br>
  <input type= "email" name= "email"></input></br>
  <input type= "text" name= "phone_number"></input></br>
  <input name="authenticity_token" type="hidden" value="J7CBxfHalt49OSHp27hblqK20c9PgwJ108nDHX/8Cts=" />
  <button type= "submit">Postuler</button>
</form>
 -->