// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

    .informations ul {
      list-style: none;
    }

    .informations span {
      font-weight: bold;
    }

	.carousel
	{
	   max-width: 120vw !important;
	  display: flex;
	   margin-top: 8vw;
	}