<div class="page-titles-img title-space-lg parallax-overlay bg-parallax" data-jarallax='{"speed": 0.4}' style='background-image: url("images/bg13.jpg");background-position:top center;'>
  <div class="container">
      <div class="row">
          <div class=" col-md-12">
              <h1 class="text-uppercase">Liste des membres donnateurs </h1>
          </div>
      </div>
  </div>
</div><!--page title end-->
<div class="container">

  <div class="row">


    <div class="row">

      <% @donateurs.each do |donation| %>

      <div class="col-lg-4 col-md-6 mb-4">
	       <div class="card h-100">
	          <%= image_tag("avatar.jpeg", size: "358x255") %>
	           <div class="card-body">
	              <h5><%= donation.user.surname.upcase + " " + donation.user.name.capitalize%></h5>
	               <p class="card-text">
                   <% if donation.user != nil %>
	                  a fait un don de <%= donation.don %>€
	                <% else %>
	                    Un Anonyme a fait un don de <%= donation.don %>€
	                <% end %></p>
	           </div>
          </div>
        </div>
      <% end %>

    </div>
  </div>
</div>
